<template>
  <div id="markdown">
    <h1>Markdown</h1>
    <section>
      <article>
        <textarea :volue="text" @input="update"></textarea>
      </article>
      <article v-html="markedText"></article>
    </section>
  </div>
</template>

<script>
import marked from "marked";
import debounce from "@/utilities/mixins/debounce";
export default {
  mixins: [debounce],
  data() {
    return {
      text: "",
    };
  },
  computed: {
    markedText() {
      return marked(this.text);
    },
  },
  methods: {
    update(event) {
      const task = () => {
        this.text = event.target.value;
      };
      this.debounce(task, 500);
    },
  },
};
</script>

<style scoped>
#markdown {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
h1 {
  width: 100%;
  text-align: center;
}
section {
  display: flex;
  margin: 0 auto;
  width: calc(10 / 12 * 100%);
  height: 100vh;
}
article {
  width: 50%;
  border-width: 1px;
  border-style: solid;
}
article:nth-child(2) {
  background-color: rgba(243, 244, 246, 1);
}
textarea {
  width: 100%;
  height: 100%;
}
</style>